<body>
    <div class="container">
        <div class="form-container">
            <form [formGroup]="postlogin" (ngSubmit)="buenas()">
                <div class="titulo-container">
                    <p>Seleccione un modo de Usuario</p>
                </div>
                <div class="check-container">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" formControlName="user_role" value="1" checked/>
                        <label class="form-check-label">Administrador</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" formControlName="user_role" value="2"/>
                        <label class="form-check-label">Usuario</label>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="continue-button">CONTINUAR</button>
                </div>
            </form>
        </div>
    </div>
</body>
