.container{
    background: rgba(255, 255, 255, 0.33); //Ni se ve el fondo "transparente" porq el fondo esta blanco aun :v
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
tr{
    background-color: whitesmoke;
    margin: 10px;
}
mdb-icon:hover{
    cursor: pointer;
}
.modal-dialog .modal-content{
    background: whitesmoke;
    border-radius: 30px;
}

.margin-auto{
    margin: auto;
}
.selectContainer{
    width: 50%;
    margin: auto;
}
select{
    margin-bottom: 5px;
}
h5{
    text-align: center;
}
