<div class="content">

    <div class="top-bar">
        <a href="control-panel" mdbBtn color="" class="backButton" mdbWavesEffect>
            <i class="fas fa-long-arrow-alt-left"></i>
        </a>
    </div>

    <div class="container stadistics-tables">

        <div class="row rw1">

            <div class="col">
                <div class="sectionBg">

                    <div class="sectionTitle">

                        <p>Asesoradas</p>

                    </div>

                    <div class="items">

                        <a href="graphic/commune"> Comunas </a>
                        <a href="graphic/birth"> Año Nacimiento </a>
                        <a href="graphic/studies"> Nivel de Estudios </a>
                        <a href="graphic/marital_status"> Estado Marital </a>
                        <a href="graphic/forecast"> Previsiones </a>
                        <a href="graphic/number_of_living_children"> Numero de hijos vivos </a>
                        <a href="graphic/chronic_diseases"> Enfermedades cronicas </a>
                        <a href="graphic/planned_pregnancy"> Embarazos planeados </a>
                        <a href="graphic/assisted_fertilization"> Fertilizacion asistida </a>
                        <a href="graphic/previous_lactaction"> Lactancia anterior </a>
                        <a href="graphic/diseases_during_pregnancy"> Enfermedades durante embarazo </a>
                        <a href="graphic/duration_of_past_lactaction_in_months"> Duraciones de lactancia anterior </a>
                        <a href="graphic/breastfeeding_education"> Educacion sobre lactancia </a>
                        <a href="graphic/nutritional_status_mother"> Estado Nutricional </a>

                    </div>
                    
                </div>
            </div>

            <div class="col">
                <div class="sectionBg">
                    
                    <div class="sectionTitle">

                        <p>Lactantes</p>

                    </div>

                    <div class="items">

                        <a href="graphic/birthplace"> Lugar de nacimiento </a>
                        <a href="graphic/type_of_birth"> Tipos de nacimiento </a>
                        <a href="graphic/gestional_age"> Edad gestacional </a>
                        <a href="graphic/gender"> Sexo de los lactantes </a>
                        <a href="graphic/skin_to_skin_contact"> Contacto piel a piel </a>
                        <a href="graphic/breastfeeding_b4_2hours"> Lactancia antes de 2 horas de vida </a>
                        <a href="graphic/use_of_pacifier"> Uso de chupetes </a>
                        <a href="graphic/post_discharge_feeding"> Alimentacion al alta </a>
                        <a href="graphic/joint_accommodation"> Alojamiento Conjunto </a>

                    </div>

                </div>
            </div>

        </div>

        <div class="row rw3">
            <div class="sectionBg">
                    
                <div class="sectionTitle">

                    <p>Controles</p>

                </div>

                <div class="items">

                    <a href="graphic/consultation_place"> Lugar de consulta </a>
                    <a href="graphic/monitoring_medium"> Via de seguimiento </a>
                    <a href="graphic/reason_of_consultation"> Razon de las consultas </a>
                    <a href="graphic/accompanied_by"> Acompañantes </a>
                    <a href="graphic/indications"> indicaciones </a>

                </div>

                </div>

        </div>

    </div>



</div>

