@import "/src/styles/palette.scss";
.top-bar{
    width: 80%;
    margin: auto;
    .backButton{
        width: 77px;
        height: 39px;
        background:white;
        color: grey;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
}
.content{
    min-height: 79.5vh;
}
.sectionBg{
    min-height: 300px;
    background: rgba(255, 255, 255, 0.33);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .items{
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    }
    
    a{
        color: black;
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Quicksand;
        
    }
    .sectionTitle{
        text-align: center;
        color: white;
        padding: 20px;
        
        p{
            background-color: $light-blue;
            max-width: 200px;
            margin: auto;
            border-radius: 30px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 25px;
            font-weight: bold;
            font-family: Quicksand;
        }
    }
}
.rw1{
    margin-bottom: 10px;
}