<div class="content">

    <div class="top-bar">
        <a href="control-panel" mdbBtn color="" class="backButton" mdbWavesEffect>
            <i class="fas fa-long-arrow-alt-left"></i>
        </a>
    </div>

    <div class="container stadistics-tables">

        <div class="row rw1">

            <div class="col">
                <div class="sectionBg">

                    <div class="sectionTitle">

                        <p>Asesoradas</p>

                    </div>

                    <div class="items">

                        <a href=""> Comunas </a>

                    </div>
                    
                </div>
            </div>

            <div class="col">
                <div class="sectionBg">
                    
                    <div class="sectionTitle">

                        <p>Lactantes</p>

                    </div>

                    <div class="items">

                        <a href=""> Edad gestacional </a>

                    </div>

                </div>
            </div>

        </div>

        <div class="row rw2">
            <div class="sectionBg">
                    
                <div class="sectionTitle">

                    <p>Controles</p>

                </div>

                <div class="items">

                    <a href=""> Via de seguimiento </a>

                </div>

                </div>

        </div>

    </div>



</div>

