.topBar{
    .buttons{
        display: flex;
        .backButton{
            width: 50%;
            a{
                background-color: whitesmoke;
                color: gray;
                border-radius: 30px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
        .addProfBtn{
            text-align: right;
            position: relative;
            width: 50%;
            a{
                background-color: pink;
                border-radius: 30px;
    
            }
        }

    }
}
.container-fluid{
    min-height: 85vh;
    width: min(90%,70.5rem);
    display: flex;
    align-items: center;
    .component{
        height: 100%;
        margin: auto;
    }
    
}

