


<div class="container-fluid">

    <div class="container">

        <div class="topBar">
    
            <div class="buttons">
                <div class="backButton">
                    <a href="/control-panel" mdbBtn color="" mdbWavesEffect>
                        <i class="fas fa-long-arrow-alt-left"></i>
                    </a>
                </div>
    
                <div class="addProfBtn text-white">
                    <a  href="/profesionales/agregar/0" mdbBtn color="" mdbWavesEffect>Agregar profesional</a>
                </div>
            </div>
        
        </div>
    
        <div class="component">
            <app-professionals-list></app-professionals-list>
        </div>
    

    </div>

</div>
