<div class="dataBg">

    <div class="topTitle">

        <div class="titleBg">
            <h3>Datos de Nacimiento</h3>
        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col">

                <ul>
                    <li>
                        Lugar de nacimiento:
                    </li>
                    
                    <li class="item">
                        Servicio Publico
                    </li>
                </ul>

            </div>

            <div class="col">

                <ul>
                    <li>
                        Nacimiento: 
         
                    </li>
                    
                    <li class="item">
                        Cesárea
    
                    </li>
                </ul>


            </div>

        </div>

        <div class="row">

            <div class="col">

                <ul>
                    <li>
                        Fecha de nacimiento:
         
                    </li>
                    
                    <li class="item">
                        00/00/0000
    
                    </li>
                </ul>

            </div>

            <div class="col">

                <ul>
                    <li>
                        Sexo:
         
                    </li>
                    
                    <li class="item">
                        Indefinido
    
                    </li>
                </ul>


            </div>
            
        </div>

        <div class="row">

            <div class="col">

                <ul>
                    <li>
                        Edad gestional (semanas):
         
                    </li>
                    
                    <li class="item">
                        36
    
                    </li>
                </ul>

            </div>

            <div class="col">

                <ul>
                    <li>
                        Peso de nacimiento:
         
                    </li>
                    
                    <li class="item">
                        1.000 gr
    
                    </li>
                </ul>

            </div>
            
        </div>

        <div class="row">

            <div class="col">

                <ul>
                    <li>
                        Contacto piel a piel al nacer:
         
                    </li>
                    
                    <li class="item">
                        SI
                    </li>
                </ul>

            </div>

            <div class="col">

                <ul>
                    <li>
                        Último control de peso:
         
                    </li>
                    
                    <li class="item">
                        1.700 gr.
    
                    </li>
                </ul>

            </div>
            
        </div>

        <div class="row">

            <div class="col">

                <ul>
                    <li>
                        Alojamiento conjunto:
         
                    </li>
                    
                    <li class="item">
                        Si
                    </li>
                </ul>


            </div>

            <div class="col">

                <ul>
                    <li>
                        Alimentación al alta:
         
                    </li>
                    
                    <li class="item">
                        Sucedáneo
                    </li>
                </ul>

            </div>
            
        </div>

        <div class="row">

            <div class="col">

                <ul>
                    <li>
                        Uso de chupetes en la hospitalización:
         
                    </li>
                    
                    <li class="item">
                        SI
    
                    </li>
                </ul>

            </div>

            <div class="col">

                <ul>
                    <li>
                        Lactancia antes de las primeras 2hrs de vida:
         
                    </li>
                    
                    <li class="item">
                        SI
                    </li>
                </ul>

                
            </div>

            
        </div>

        <div class="row">

            <div class="col">

                <ul>
                    <li>
                        Sumplemento de leche materna durante la hospitalización:
                    </li>
                    
                    <li class="item">
                        SI
    
                    </li>
                </ul>
            </div>

            <div class="col">

                <ul>
                    <li>
                        Motivo del suplemento:
                    </li>
                    
                    <li class="item">
                        Sugerencia de algún profesional
                    </li>
                </ul>
            </div>


        </div>

    </div>
</div>
