<div class="dataBg">

    <div class="topTitle">

        <div class="titleBg">
            <h3>Datos de Nacimiento</h3>
        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col">

                <p>Lugar de nacimiento: Servicio Publico</p>

            </div>

            <div class="col">

                <p>Nacimiento: Cesárea</p>

            </div>

        </div>

        <div class="row">

            <div class="col">

                <p>Fecha de nacimiento: 00/00/0000</p>

            </div>

            <div class="col">

                <p>Sexo: Indefinido</p>

            </div>
            
        </div>

        <div class="row">

            <div class="col">

                <p>Edad gestional (semanas): 36</p>

            </div>

            <div class="col">

                <p>Peso de nacimiento: 1.000 gr.</p>

            </div>
            
        </div>

        <div class="row">

            <div class="col">

                <p>Contacto piel a piel al nacer: SI</p>

            </div>

            <div class="col">

                <p>Último control de peso: 1.700 gr.</p>

            </div>
            
        </div>

        <div class="row">

            <div class="col">

                <p>Alojamiento conjunto: Si</p>

            </div>

            <div class="col">

                <p>Alimentación al alta: Sucedáneo</p>

            </div>
            
        </div>

        <div class="row">

            <div class="col">

                <p>Uso de chupetes en la hospitalización: SI</p>

            </div>

            <div class="col">

                <p>Lactancia antes de las primeras 2hrs de vida: SI</p>
                
            </div>

            
        </div>

        <div class="row">

            <div class="col">
                <p>Sumplemento de leche materna durante la hospitalización: SI</p>
            </div>

            <div class="col">
                <p>Motivo del suplemento: Sugerencia de algún profesional</p>
            </div>


        </div>

    </div>
</div>
