.graphContainer
{
    
    display: flex;
    
}
.content{
    min-height: 85vh;
}
.graph{
    margin: auto;
    width: 70%;
    background-color: whitesmoke;
    border-radius: 30px;
}

.top-bar{
    width: 70%;
    margin: auto;
    margin-block: 5px;
    .backButton{
        background-color: whitesmoke;
        color: gray;
        border-radius: 30px;
    }
}
@media (max-width:800px) {
    .graph{
        width: 100%;
    }
    .top-bar{
        width: 100%;
    }
    
}