.content{
    min-height: 79.5vh;
    display: flex;
    
}
.graph{
    margin: auto;
    width: 70%;
    background-color: whitesmoke;
    border-radius: 30px;
}
@media (max-width:800px) {
    .graph{
        width: 100%;
    }
    
}
.top-bar{
    width: 80%;
    margin: auto;
    .backButton{
        width: 77px;
        height: 39px;
        background:white;
        color: grey;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
}