/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

html{
    height: 100%;
}

body{
    background: url(./assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
