







<div class="container">
  <div class="row topRow">
    <div class="col backBtn">
      <a href="/asesoradas" mdbBtn color="" mdbWavesEffect>
        <i class="fas fa-long-arrow-alt-left"></i>
    </a>
  
    </div>
    
    <div class="col drpDown">
      <div class="btn-group options-button" mdbDropdown>
        <a mdbDropdownToggle type="button" mdbBtn color="" class="sortButton dropdown-toggle waves-light"
          mdbWavesEffect>
        </a>
      
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" (click)="goToEditMother(idMother)">Editar Asesorada</a>
          <a class="dropdown-item" (click)="show()">Eliminar Asesorada</a>
        </div>
    </div>
    
  </div>

  <div class="row">

    <div class="col">
      <app-mother-data *ngIf="idMother" [idMother]="idMother"></app-mother-data>

    </div>

    <div class="col">
      <app-childs-list *ngIf="idMother" [idMother]="idMother"></app-childs-list>
    </div>

  </div>
  <div class="row">
    
    <a class="pastCtrl" [href]="'/controls/past/' + idMother">
      <mdb-icon far icon="eye" size="1x">
      </mdb-icon>
      Ver citas Completadas
    </a>


  </div>



</div>








<!--POP UP DE CONFIRMACION -->
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirma la eliminación de la asesorada?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a (click)="eliminarAsesorada(idMother)" mdbBtn color="danger" outline="true" class="waves-effect"
          mdbWavesEffect>Si</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
