@import 'src/styles/palette';
.container{
    margin-top: 11vh;
    margin-bottom: 11vh;
}
.options-button {
    margin-left: auto;
    border-radius: 30px;
}
.backBtn{
    left:0%;
    a{
        background-color: whitesmoke;
        color: gray;
        border-radius: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.drpDown{
    text-align: right;
    margin-bottom: 20px;
    a{
        background-color: whitesmoke;
        border-radius: 30px;

    }
    
}
.dropdown-toggle{
    color: gray !important;
    
}
.topRow{
    margin: 30px;
}
.pastCtrl{
    color: black;
    padding: 10px;
    width: 21%;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px;
    min-width: fit-content;
    text-align: center;
    
}
.past-controls-bton{
    display: flex;
    justify-content: center;
}
@media (max-width: 600px) {
    .pastCtrl{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}