.topBar{
    margin-top: 7%;
    
    .backButton{
        width: 77px;
        height: 39px;
        position: absolute;
        background:white;
        color: grey;
        margin-left: 20vw;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    .addMotherBtn{
        position: absolute;
        right: 0%;
        margin-right: 20vw;
        a{
            background-color: pink;
            border-radius: 30px;

        }
    }
}
.container-fluid{
    margin-top: 20px;
    height: 70%;
    padding-top: 70px;
    width: min(90%,70.5rem);
    .component{
        height: 100%;
        margin: auto;
    }
    
}

