


<div class="container-fluid">

    <div class="topBar">
    
        <div class="buttons">
            <div class="backButton">
                <a href="/control-panel" mdbBtn color="" mdbWavesEffect>
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </div>

            <div class="addMotherBtn text-white">
                <a  href="/asesoradas/agregar/0" mdbBtn color="" mdbWavesEffect>Agregar Asesorada</a>
            </div>
        </div>
    
    </div>

    <div class="component">
        <app-mothers-list></app-mothers-list>
    </div>

</div>
