<div>
    <div class="top-bar">
        <a (click)="goLastPage()" mdbBtn color="" class="backButton" mdbWavesEffect>
            <i class="fas fa-long-arrow-alt-left"></i>
        </a>
    </div>
    <div class="container">
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="sendMotherData()" autocomplete="off">
                <!-- Titulo -->
                <div class="title-row">
                    <div class="row">
                        <div class="col">
                            <div class="title-image"></div>
                        </div>
                        <div class="col-6">
                            <div class="title-container" *ngIf="id == '0'">
                                <p class="title-text">Formulario Ingreso de Asesorada</p>
                            </div>
                            <div class="title-container" *ngIf="id != '0'">
                                <p class="title-text">Editar Asesorada</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="title-image2"></div>
                        </div>
                    </div>
                </div>
                <!-- Nombre -->
                <div class="input-label-container"> 
                    <label class="label-text">Nombre (✱):</label>
                    <div class="name-container">
                        <input type="text" class="form-control input-control-style" formControlName="name" placeholder="Nombre" maxlength="50"
                        [ngClass]="{ 'is-invalid': form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched),
                        'is-valid': form.controls['name'].valid && (form.controls['name'].dirty || form.controls['name'].touched)  }">
                    </div>
                    <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)">
                        <div *ngIf="form.controls['name']?.hasError('required')" > 
                            <div class="invalid-text">
                                Debe rellenar el campo
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Rut -->
                <div class="input-label-container">
                    <label class="label-text">Rut (✱):</label>
                    <div class="full-rut-container">
                        <div class="rut-container">
                            <input type="number" class="form-control input-control-style" formControlName="rut" placeholder="Rut"
                            [ngClass]="{ 'is-invalid': form.controls['rut'].invalid && (form.controls['rut'].dirty || form.controls['rut'].touched),
                            'is-valid': form.controls['rut'].valid && (form.controls['rut'].dirty || form.controls['rut'].touched)  }">
                            <div *ngIf="form.controls['rut']?.hasError('pattern')">
                                <div class="invalid-text error">
                                    Tienen que ser de 7 a 8 digitos de largo
                                </div>
                            </div>
                        </div>
                        <p class="guion-container">-</p>
                        <div class="rut-vc-container">
                            <input type="text" class="form-control input-control-style" formControlName="rut_vc" placeholder="VC"
                            [ngClass]="{ 'is-invalid': form.controls['rut_vc'].invalid && (form.controls['rut_vc'].dirty || form.controls['rut_vc'].touched),
                            'is-valid': form.controls['rut_vc'].valid && (form.controls['rut_vc'].dirty || form.controls['rut_vc'].touched)  }">
                            <div *ngIf="form.controls['rut_vc']?.hasError('pattern')">
                                <div class="invalid-text error">
                                   Tiene que ser un digito o el caracter "k"
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="form.controls['rut'].invalid && (form.controls['rut'].dirty || form.controls['rut'].touched)">
                        <div *ngIf="form.controls['rut']?.hasError('required')">
                            <div class="invalid-text">
                                Debe rellenar el campo
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Comuna -->
                <div class="input-label-container"> 
                    <label class="label-text">Comuna (✱):</label>
                    <div class="comune-container">
                        <input type="text" class="form-control input-control-style" formControlName="commune" placeholder="Comuna"
                        [ngClass]="{ 'is-invalid': form.controls['commune'].invalid && (form.controls['commune'].dirty || form.controls['commune'].touched),
                        'is-valid': form.controls['commune'].valid && (form.controls['commune'].dirty || form.controls['commune'].touched)  }">
                    </div>
                    <div *ngIf="form.controls['commune'].invalid && (form.controls['commune'].dirty || form.controls['commune'].touched)">
                        <div *ngIf="form.controls['commune']?.hasError('required')" > 
                            <div class="invalid-text">
                                Debe rellenar el campo
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Numero telefónico -->
                <div class="input-label-container"> 
                    <label class="label-text">Teléfono (✱):</label>
                    <div class="phone-container">
                        <input type="number" class="form-control input-control-style" formControlName="phone_number" placeholder="Teléfono" 
                        [ngClass]="{ 'is-invalid': form.controls['phone_number'].invalid && (form.controls['phone_number'].dirty || form.controls['phone_number'].touched),
                        'is-valid': form.controls['phone_number'].valid && (form.controls['phone_number'].dirty || form.controls['phone_number'].touched)  }">
                    </div>
                    <div *ngIf="form.controls['phone_number'].invalid && (form.controls['phone_number'].dirty || form.controls['phone_number'].touched)">
                        <div *ngIf="form.controls['phone_number']?.hasError('required')" > 
                            <div class="invalid-text">
                                Debe rellenar el campo
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mail -->
                <div class="input-label-container"> 
                    <label class="label-text">Mail (✱):</label>
                    <div class="mail-container">
                        <input type="email" class="form-control input-control-style" formControlName="mail" placeholder="Mail"
                        [ngClass]="{ 'is-invalid': form.controls['mail'].invalid && (form.controls['mail'].dirty || form.controls['mail'].touched),
                        'is-valid': form.controls['mail'].valid && (form.controls['mail'].dirty || form.controls['mail'].touched)  }">
                    </div>
                    <div *ngIf="form.controls['mail'].invalid && (form.controls['mail'].dirty || form.controls['mail'].touched)">
                        <div *ngIf="form.controls['mail']?.hasError('email')" > 
                            <div class="invalid-text">
                                Escriba un correo electronico valido, Ej: Juanito@mail.com
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edad -->
                <div class="input-label-container"> 
                    <label class="label-text">Edad (✱):</label>
                    <div class="birth-container">
                        <input type="number" class="form-control input-control-style" formControlName="birth"
                        [ngClass]="{ 'is-invalid': form.controls['birth'].invalid && (form.controls['birth'].dirty || form.controls['birth'].touched),
                        'is-valid': form.controls['birth'].valid && (form.controls['birth'].dirty || form.controls['birth'].touched)  }">
                    </div>
                    <div *ngIf="form.controls['birth'].invalid && (form.controls['birth'].dirty || form.controls['birth'].touched)">
                        <div *ngIf="form.controls['birth']?.hasError('required')" > 
                            <div class="invalid-text">
                                Debe rellenar el campo
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ocupación -->
                <div class="input-label-container"> 
                    <label class="label-text">Ocupación (✱):</label>
                    <div class="ocupation-container">
                        <input type="text" class="form-control input-control-style" formControlName="ocupation" placeholder="Ocupación"
                        [ngClass]="{ 'is-invalid': form.controls['ocupation'].invalid && (form.controls['ocupation'].dirty || form.controls['ocupation'].touched),
                        'is-valid': form.controls['ocupation'].valid && (form.controls['ocupation'].dirty || form.controls['ocupation'].touched)  }">
                    </div>
                    <div *ngIf="form.controls['ocupation'].invalid && (form.controls['ocupation'].dirty || form.controls['ocupation'].touched)">
                        <div *ngIf="form.controls['ocupation']?.hasError('required')" > 
                            <div class="invalid-text">
                                Debe rellenar el campo
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Escolaridad -->
                <div class="input-label-container"> 
                    <label class="label-text">Escolaridad:</label>
                    <select class="browser-default custom-select" formControlName="studies">
                        <option value="ninguna">Ninguna</option>
                        <option value="basica">Enseñanza Básica</option>
                        <option value="media">Enseñanza Media</option>
                        <option value="tecnica">Tecnica</option>
                        <option value="universitaria">Universitaria</option>
                    </select>
                </div>
                <!-- Estado Civil -->
                <div class="input-label-container"> 
                    <label class="label-text">Estado Civil:</label>
                    <select class="browser-default custom-select" formControlName="marital_status">
                        <option value="ninguno">Ninguno</option>
                        <option value="soltera">Soltera</option>
                        <option value="casada">Casada</option>
                        <option value="conviviente civil">Conviviente civil</option>
                        <option value="conviviente">Conviviente</option>
                        <option value="divorciada">Divorciada</option>
                        <option value="separacion en proceso judicial">Separación en proceso judicial</option>
                        <option value="viuda">Viuda</option>
                    </select>
                </div>
                <!-- Previsión -->
                <div class="input-label-container"> 
                    <label class="label-text">Previsión:</label>
                    <select class="browser-default custom-select" formControlName="forecast">
                        <option value="ninguna">Ninguna</option>
                        <option value="fonasa">Fonasa</option>
                        <option value="isapre">Isapre</option>
                    </select>
                </div>
                <!-- N° de hijos vivos -->
                <div class="input-label-container"> 
                    <label class="label-text">N° de hijos vivos:</label>
                    <div class="number-of-children-container">
                        <input type="number" class="form-control input-control-style" formControlName="number_of_children"
                        [ngClass]="{ 'is-invalid': form.controls['number_of_children'].invalid && (form.controls['number_of_children'].dirty || form.controls['number_of_children'].touched),
                        'is-valid': form.controls['number_of_children'].valid && (form.controls['number_of_children'].dirty || form.controls['number_of_children'].touched)  }">
                    </div>
                    <div *ngIf="form.controls['number_of_children'].invalid && (form.controls['number_of_children'].dirty || form.controls['number_of_children'].touched)">
                        <div *ngIf="form.controls['number_of_children']?.hasError('required')" > 
                            <div class="invalid-text">
                                Debe rellenar el campo
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Enfermedades Crónicas -->
                <div class="input-label-container">
                    <div class="form-check checkbox-container">
                        <input type="checkbox" class="form-check-input" formControlName="hipertension_a">
                        <label class="form-check-label">Hipertensión arterial</label>
                    </div>
                    <div class="form-check checkbox-container">
                        <input type="checkbox" class="form-check-input" formControlName="diabetes_m1">
                        <label class="form-check-label">Diabetes mellitus 1</label>
                    </div>
                    <div class="form-check checkbox-container">
                        <input type="checkbox" class="form-check-input" formControlName="diabetes_m2">
                        <label class="form-check-label">Diabetes mellitus 2</label>
                    </div>
                    <div class="form-check checkbox-container">
                        <input type="checkbox" class="form-check-input" formControlName="hipotiroidismo">
                        <label class="form-check-label">Hipotiroidismo</label>
                    </div>
                    <div class="form-check checkbox-container">
                        <input type="checkbox" class="form-check-input" formControlName="hipertiroidismo">
                        <label class="form-check-label">Hipertiroidismo</label>
                    </div>
                    <ng-container formArrayName="other">
                        <ng-container *ngFor="let disease of form.get('other')['controls']; index as i">
                            <div class = "form-check checkbox-container" *ngIf="other_diseases.length != 0">
                                <input type="checkbox" class="form-check-input" formControlName="{{i}}">
                                <label class="form-check-label">{{ other_diseases[i] }}</label>
                            </div>
                        </ng-container>
                    </ng-container>
                    
                    <div class="new-disease-container">
                        <input type="text" formControlName="new_disease" class="new-disease-input" placeholder="Ingrese otra opción">
                        <button type="button" (click)="newDisease()" class="new-disease-button">+</button>
                    </div>
                </div>
                <!-- Boton Agregar -->
                <div class="button-container" *ngIf="id == '0'">
                    <button type="submit" [disabled]="form.invalid" class="send-button">AGREGAR</button>
                    <div *ngIf="form.invalid" class="disabled-button-text">
                        <p>Porfavor rellene los campos del formulario, para que este pueda ser enviado</p>
                    </div>
                </div>
                <!-- Boton Editar -->
                <div class="button-container" *ngIf="id != '0'">
                    <button type="button" class="send-button" (click)="editMotherData()">EDITAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
