<body>
    <div class="container">
        <div class="form-container">
            <form [formGroup]="login" (ngSubmit)="log_in()" >
                <div class="mi-cuenta-container">
                    <p class="mi-cuenta-text">Mi Cuenta</p>
                </div>
                <div>
                    <label class="label-text">Ingrese Rut</label>
                    <input type="text" class="form-control" formControlName="rut" placeholder="Rut"
                    [ngClass]="{ 'is-invalid': login.controls['rut'].invalid && (login.controls['rut'].dirty || login.controls['rut'].touched),
                    'is-valid': login.controls['rut'].valid && (login.controls['rut'].dirty || login.controls['rut'].touched)  }">
                    <div *ngIf="login.controls['rut'].invalid && (login.controls['rut'].dirty || login.controls['rut'].touched)">
                        <div *ngIf="login.controls['rut']?.hasError('required')" > 
                            <div class="invalid-text">
                                Debe rellenar el campo
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="label-text">Ingrese Contraseña</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Contraseña"
                    [ngClass]="{ 'is-invalid': login.controls['password'].invalid && (login.controls['password'].dirty || login.controls['password'].touched),
                    'is-valid': login.controls['password'].valid && (login.controls['password'].dirty || login.controls['password'].touched)  }">
                </div>
                <div *ngIf="login.controls['password'].invalid && (login.controls['password'].dirty || login.controls['password'].touched)">
                    <div *ngIf="login.controls['password']?.hasError('required')">
                        <div class="invalid-text">
                            Debe rellenar el campo
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" [disabled]="login.invalid" class="log-in-button">INGRESAR</button>
                </div>
            </form>
        </div>
        <div class="logo-container">
            <div class="logo"></div>
        </div>
    </div>
</body>




<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Usuario invalido</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">OK</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
