// Paleta de colores oficial de la página
$pink: #FEBAAD;
$light-blue: #A6EDF3;
$grey: #989898;
$light-grey: #E0E0E0;
$super-light-grey: #E8E8E8;
$white: #FFFFFF;
$black: #000000;

$grey-50: rgba($grey, 0.5);
$super-light-grey-65: rgba($super-light-grey, 0.65);
