<div class="dataBg">

    <div class="topTitle">

        <div class="titleBg">
            <h3>Datos de Gestación/ Parto / Lactancia</h3>
        </div>

    </div>

    <div class="container-fluid">

        <div class="row">

            <p>Enfermedades durante la gestación: Síntoma de parto prematuro</p>

        </div>

        <div class="row">

            <p>Estado nutricional de la madre: Desnutrición</p>
            
        </div>

        <div class="row">
            
            <div class="col">
                <p>Embarazo planificado: SI</p>

            </div>

            <div class="col">
                <p>Fertilización asistida: SI</p>
            </div>

            <div class="col">
                <p>Lactancia anterior: BUENA</p>

            </div>

        </div>


        <div class="row">

            <p>Duración de la lactancia anterior (meses): 24</p>
            
        </div>

        <div class="row">

            <p>Participación de educación en lactancia (durante gestación): no</p>
            
        </div>

    </div>



</div>
