<div class="dataBg">

    <div class="topTitle">

        <div class="titleBg">
            <h3>Datos de Gestación/ Parto / Lactancia</h3>
        </div>

    </div>

    <div class="container-fluid" *ngIf="childData!=null">

        <div class="row">

            <ul>
                <li>
                    Enfermedades durante la gestación:
                </li>
                <li *ngIf="childData.gestacion_data.diseases_during_pregnancy; then yes; else no" class="item">
                </li>
            </ul>


        </div>

        <div class="row">

            
            <ul>
                <li>
                    Estado nutricional de la madre:
                    
                </li>
                
                <li class="item">
                    {{childData.gestacion_data.nutritional_status_mother}}

                </li>
            </ul>
            
        </div>

        <div class="row">
            
            <div class="col">
        
                <ul>
                    <li>
                        Embarazo planificado:
                        
                    </li>
                    
                    <li *ngIf="childData.gestacion_data.planned_pregnancy; then yes; else no" class="item"> </li>
                </ul>

            </div>

            <div class="col">
                <ul>
                    <li>
                        Fetilizacion asistida:   
                    </li>
                    
                    <li *ngIf="childData.gestacion_data.assisted_fertilization; then yes; else no" class="item"> </li>
                </ul>
            </div>

            <div class="col">

                <ul>
                    <li>
                        Lactancia anterior:
                        
                    </li>
                    
                    <li class="item">
                        {{childData.gestacion_data.previous_lactaction}}
                    </li>
                </ul>

            </div>

        </div>


        <div class="row">
            <ul>
                <li>
                    Duracion de la lactancia anterior (meses):    
                </li>
                
                <li class="item">
                    {{childData.gestacion_data.duration_of_past_lactaction_in_months}}
                </li>
            </ul>
        </div>

        <div class="row">
            <ul>
                <li>
                    Participación de educación en lactancia (durante gestación):
                    
                </li>
                
                <li *ngIf="childData.gestacion_data.breastfeeding_education; then yes; else no" class="item"> </li>
            </ul>
        </div>

    </div>



</div>

<ng-template #yes>
    <li class="item">
      Si
    </li>
  </ng-template>
  <ng-template #no>
    <li class="item">
      No
    </li>
</ng-template>
