<div class="container">

    <div *ngIf="controlData!=0" class="fluid-container">

        <div class="row">
            <ul>
                <li>
                    Nombre Lactante:
                </li>
                <li class="item">
                    {{controlData.child_name}}
                </li>
            </ul>

        </div>

        <div class="row">

            <ul>
                <li>
                    Lugar de consulta:
                </li>
                <li class="item">
                    {{controlData.consultation_place}}

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Via de seguimiento:
                </li>
                <li class="item">
                    {{controlData.monitoring_medium}}

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Peso(gramos):
                </li>
                <li class="item">
                    {{controlData.weight}} gr

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Motivo consulta:
                </li>
                <li class="item">
                    {{controlData.reason_of_consultation}}

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Acompañada por:
                </li>
                <li class="item">
                    {{controlData.accompanied_by}}

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                   Estado emocional de la madre:
                </li>
                <li class="item">
                    {{controlData.emotional_status}}

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Observaciones:
                </li>
                <li class="item">
                    {{controlData.observations}}

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Indicaciones:
                </li>
                <li class="item">
                    {{controlData.indications}}

                </li>
            </ul>
            
        </div>

    </div>

</div>
