<div class="container">

    <div class="fluid-container">

        <div class="row">
            <ul>
                <li>
                    Nombre Lactante:
                </li>
                <li class="item">

                </li>
            </ul>

        </div>

        <div class="row">

            <ul>
                <li>
                    Lugar de consulta:
                </li>
                <li class="item">

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Via de seguimiento:
                </li>
                <li class="item">

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Peso(gramos):
                </li>
                <li class="item">

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Motivo consulta:
                </li>
                <li class="item">

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Acompañada por:
                </li>
                <li class="item">

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                   Estado emocional de la madre:
                </li>
                <li class="item">

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Observaciones:
                </li>
                <li class="item">

                </li>
            </ul>
            
        </div>

        <div class="row">

            <ul>
                <li>
                    Indicaciones:
                </li>
                <li class="item">

                </li>
            </ul>
            
        </div>

    </div>

</div>
