@import 'src/styles/palette';

.controls-list-card {
    background-color: whitesmoke;

    h3 {
        background-color: $light_blue;
    }

    .control-card {
        border-color: $pink;
    }
}
