@import 'src/styles/palette';

.controls-list-card {
    background-color: none;
    border-radius: 30px;
    padding: 10px;
    .control-card{
        margin: 10px;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
        border: solid ;
        border-color: pink;
    }
}
h3 {
    background-color: $light_blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: auto;
    width: 25%;
    padding: 10px;
    min-width: 230px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.control-data{
    text-align: center;
    margin: auto;

}
.editCtrlBtn{
    a{
        background-color: whitesmoke;
        color: black;
        padding: 5px;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.col{
    text-align: center;
    p{
        font-weight:500;
    }
}
.dropdown-toggle{
    color: gray !important;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.headData{
    text-align: center;
}
