<!-- Footer -->
<footer *ngIf="logged" class="page-footer font-small pt-3 rgba-white-light">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
  
            <div class="col">
                <div class="iconos">
                    <a href="https://www.instagram.com/lactaplanet/" class="fab fa-instagram fa-2x"></a>
                    <a href="https://www.facebook.com/lactaplanet/" class="fab fa-facebook fa-2x"></a>
                </div>
            </div>



  
            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-4">
                <div class="pagina">
                    <div class="footer-copyright text-center py-3">
                        <a href="https://lactaplanet.cl/"> Lactaplanet.cl</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="direccion">
                    <p>Torre Coraceros Av. Libertad 1405, Oficina 601, Viña del Mar.</p>
                </div>
            </div>

  

  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  

  </footer>
  <!-- Footer -->
