.direccion{
    width: 50%;
    margin:auto
}
.iconos{
    padding-top: 3%;
    width: 50%;
    margin:auto;
    a{
        padding-right: 30px;
    }
}
.pagina{
    width: 50%;
    margin: auto;
}
.pagina:hover{
    background-color: rgb(59, 59, 59);
    transition: background-color .5s;
    width: 50%;
    margin: auto;
}
