<!-- Image and text -->


<!--Navbar-->
<mdb-navbar *ngIf="logged" SideClass="rgba-white-light" [containerInside]="false">

  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

        <div class="col">
            <div class="icono">
                <a class="navbar-brand" [href]="(logged==false) ? '/' : 'control-panel'">
                    <img src="../../../../../assets/Logo-Lacta-Planet-black.png" height="30" class="d-inline-block align-top" alt="">
                </a>
            </div>
        </div>


        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-6">
            <div *ngIf="logged==true" class="usuario">
                <h2>{{name | titlecase}}</h2>
            </div>
        </div>

        <div class="col cl3">
            <div class="derecha">
                <div class="box" *ngIf="logged==true">
                    <button class="button button5" (click)="logOut()">
                        <p>Cerrar Sesion</p>
                    </button>
                </div>
            </div>
        </div>




    </div>
    <!-- Grid row -->

  </div>

