<div class="container" style="width: 100%;height: 100vh;">
    <div class="card-container" style="height: 100%;display: flex; align-items: center;justify-content: center;">
        <div class="card-bg" style="background-color: rgba(245, 245, 245, 0.7); width: 600px;height: fit-content; border-radius: 30px;">

            
            <div class="card-body">
                <form [formGroup]="resetForm">
                    <div class="row">
                        <h3 style="text-align: center;">Crear nueva contraseña</h3>
                    </div>


                    <div class="row" style="margin-top: 30px;">
                        <label class="label-text" style="text-align: center;">Ingrese su nueva contraseña</label>
                        <input 
                            type="password"
                            class="form-control" 
                            formControlName="password" 
                            style="width: 80%;margin: auto;"
                            [class.is-invalid]="resetForm.get('password').touched && resetForm.get('password').invalid">
                        
                        <div class="password-errors">
                            <div *ngIf="resetForm.controls['password'].hasError('required') && resetForm.get('password').touched">
                                <div class="invalid-text">
                                Es necesario Ingresar una contraseña
                                </div>
                            </div>
                            <div *ngIf="resetForm.controls['password'].hasError('minlength') && resetForm.get('password').touched">
                                <div class="invalid-text">
                                La contraseña debe tener minimo 6 digitos
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="row" style="margin-top: 10px;">
                        <label class="label-text" style="text-align: center;">Confirme su contraseña</label>
                        <input 
                        type="password" 
                        class="form-control" 
                        formControlName="verifyPassword" 
                        style="width: 80%;margin: auto;"
                        [class.is-invalid]="resetForm.get('verifyPassword').touched && resetForm.get('verifyPassword').invalid">

                        <div class="password-errors">
                            <div *ngIf="resetForm.controls['verifyPassword'].hasError('required') && resetForm.get('verifyPassword').touched">
                                <div class="invalid-text">
                                Es necesario Verificar la contraseña
                                </div>
                            </div>
                            <div *ngIf="(resetForm.get('password').value != resetForm.get('verifyPassword').value)&&resetForm.get('verifyPassword').touched">
                                <div class="invalid-text">
                                Las contraseñas no coinciden
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px;width: 200px;margin-inline: auto;">
                        <button (click)="submit()" [disabled]="resetForm.invalid || resetForm.get('password').value != resetForm.get('verifyPassword').value " style="border-radius: 30px; background-color:whitesmoke;color: black;">Enviar</button>
        
                    </div>
                </form>
            </div>


        </div>

    </div>

</div>


<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Cambio de contraseña exitoso</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Se ha cambiado su contraseña con exito.</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()"
          data-dismiss="modal">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
