<body>
    <div class="top-bar">
        <a (click)="goToMotherView()" mdbBtn color="" class="backButton" mdbWavesEffect>
            <i class="fas fa-long-arrow-alt-left"></i>
        </a>
    </div>
    <div class="container">
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="sendControlData()" autocomplete="off">
                <!-- Titulo -->
                <div class="title-row">
                    <div class="row">
                        <div class="col">
                            <div class="title-image"></div>
                        </div>
                        <div class="col-6">
                            <div class="title-container">
                                <p class="title-text">Primera Cita</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="title-image2"></div>
                        </div>
                    </div>
                </div>
                <!-- Lugar de consulta -->
                <div class="input-label-container"> 
                    <label class="label-text">Lugar de consulta:</label>
                    <div>
                        <select class="browser-default custom-select" formControlName="consultation_place">
                            <option value="domicilio">Domicilio</option>
                            <option value="consulta">Consulta</option>
                            <option value="online">Online</option>
                        </select>
                    </div>
                </div>
                <!-- Via de seguimiento -->
                <div class="input-label-container"> 
                    <label class="label-text">Via de seguimiento:</label>
                    <div>
                        <select class="browser-default custom-select" formControlName="monitoring_medium">
                            <option value="whatsapp">whatsapp</option>
                            <option value="teléfono">Teléfono</option>
                            <option value="en consulta">En consulta</option>
                            <option value="domicilio">Domicilio</option>
                        </select>
                    </div>
                </div>
                <!-- Fecha de control -->
                <div class="input-label-container"> 
                    <label class="label-text">Fecha de Control:</label>
                    <div class="birth-container">
                        <input type="date" class="form-control" formControlName="date_control"
                        [ngClass]="{ 'is-invalid': form.controls['date_control'].invalid && (form.controls['date_control'].dirty || form.controls['date_control'].touched),
                        'is-valid': form.controls['date_control'].valid && (form.controls['date_control'].dirty || form.controls['date_control'].touched)  }">
                    </div>
                    <div *ngIf="form.controls['date_control'].invalid && (form.controls['date_control'].dirty || form.controls['date_control'].touched)">
                        <div *ngIf="form.controls['date_control']?.hasError('required')" > 
                            <div class="invalid-text">
                                Debe rellenar el campo
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edad (semanas) -->
                <div class="input-label-container"> 
                    <label class="label-text">Edad (semanas):</label>
                    <div class="number-container">
                        <input type="number" class="form-control" formControlName="age"
                        [ngClass]="{ 'is-invalid': form.controls['age'].invalid && (form.controls['age'].dirty || form.controls['age'].touched),
                        'is-valid': form.controls['age'].valid && (form.controls['age'].dirty || form.controls['age'].touched)  }">
                    </div>
                </div>
                <div *ngIf="form.controls['age'].invalid && (form.controls['weight'].dirty || form.controls['weight'].touched)">
                    <div *ngIf="form.controls['age']?.hasError('required')" > 
                        <div class="invalid-text">
                            Debe rellenar el campo
                        </div>
                    </div>
                </div>
                <!-- Peso Actual (gramos) -->
                <div class="input-label-container"> 
                    <label class="label-text">Peso Actual (gramos):</label>
                    <div class="number-container">
                        <input type="number" class="form-control" formControlName="weight"
                        [ngClass]="{ 'is-invalid': form.controls['weight'].invalid && (form.controls['weight'].dirty || form.controls['weight'].touched),
                        'is-valid': form.controls['weight'].valid && (form.controls['weight'].dirty || form.controls['weight'].touched)  }">
                    </div>
                </div>
                <div *ngIf="form.controls['weight'].invalid && (form.controls['weight'].dirty || form.controls['weight'].touched)">
                    <div *ngIf="form.controls['weight']?.hasError('required')" > 
                        <div class="invalid-text">
                            Debe rellenar el campo
                        </div>
                    </div>
                </div>
                <!-- Motivo de consulta -->
                <div class="input-label-container"> 
                    <label class="label-text">Motivo de consulta:</label>
                    <div>
                        <select class="browser-default custom-select" formControlName="reason_of_consultation">
                            <option value="no sube de peso">no sube de peso</option>
                            <option value="acople dificultoso">acople dificultoso</option>
                            <option value="grietas">grietas</option>
                            <option value="aumentar producción láctea/cambio a LME">aumentar producción láctea/cambio a LME</option>
                            <option value="confusión tetina-pezon">confusión tetina-pezón</option>
                            <option value="frenillo">frenillo</option>
                            <option value="destete">destete</option>
                            <option value="prematuro">prematuro</option>
                            <option value="otras">otras</option>
                        </select>
                    </div>
                    <div *ngIf="form.controls['reason_of_consultation']?.value == 'otras'">
                        <input type="text" class="form-control" formControlName="other_consultation" placeholder="Especificar otro">
                    </div>
                </div>
                <!-- Acompañante -->
                <div class="input-label-container"> 
                    <label class="label-text">Acompañada por:</label>
                    <div>
                        <select class="browser-default custom-select" formControlName="accompanied_by">
                            <option value="pareja">pareja</option>
                            <option value="abuela">abuela</option>
                            <option value="grietas">grietas</option>
                            <option value="amiga">amiga</option>
                            <option value="familiar">familiar</option>
                            <option value="sin acompañante">sin acompañante</option>
                            <option value="otras">otras</option>
                        </select>
                    </div>
                    <div *ngIf="form.controls['accompanied_by']?.value == 'otras'">
                        <input type="text" class="form-control" formControlName="other_companion" placeholder="Especificar otro">
                    </div>
                </div>
                <!-- Estado emocional de la madre -->
                <div class="input-label-container"> 
                    <label class="label-text">Estado emocional de la madre:</label>
                    <div class="number-container">
                        <input type="text" class="form-control" formControlName="emotional_status"
                        [ngClass]="{ 'is-invalid': form.controls['emotional_status'].invalid && (form.controls['emotional_status'].dirty || form.controls['emotional_status'].touched),
                        'is-valid': form.controls['emotional_status'].valid && (form.controls['emotional_status'].dirty || form.controls['emotional_status'].touched)  }">
                    </div>
                </div>
                <div *ngIf="form.controls['emotional_status'].invalid && (form.controls['emotional_status'].dirty || form.controls['emotional_status'].touched)">
                    <div *ngIf="form.controls['emotional_status']?.hasError('required')" > 
                        <div class="invalid-text">
                            Debe rellenar el campo
                        </div>
                    </div>
                </div>
                <!-- Observaciones -->
                <div class="input-label-container"> 
                    <label class="label-text">Observaciones:</label>
                    <div class="textarea-container">
                        <textarea class="form-control-ta" formControlName="observations"
                        [ngClass]="{ 'is-invalid': form.controls['observations'].invalid && (form.controls['observations'].dirty || form.controls['observations'].touched),
                        'is-valid': form.controls['observations'].valid && (form.controls['observations'].dirty || form.controls['observations'].touched)  }">
                        </textarea>
                    </div>
                </div>
                <div *ngIf="form.controls['observations'].invalid && (form.controls['observations'].dirty || form.controls['observations'].touched)">
                    <div *ngIf="form.controls['observations']?.hasError('required')" > 
                        <div class="invalid-text">
                            Debe rellenar el campo
                        </div>
                    </div>
                </div>
                <!-- Indicaciones -->
                <div class="input-label-container">
                    <label class="label-text">Indicaciones:</label>
                    <div class="indications-container">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" formControlName="mejorar_acople">
                            <label class="form-check-label">Mejorar acople</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" formControlName="a_frecuencia">
                            <label class="form-check-label">Aumento de frecuencia al pecho/extractor</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" formControlName="pezonera">
                            <label class="form-check-label">Pezonera</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" formControlName="sonda_al_dedo">
                            <label class="form-check-label">Sonda al dedo</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" formControlName="relactacion">
                            <label class="form-check-label">Relactación</label>
                        </div>
                    </div>
                </div>
                <!-- Agendar próxima cita -->
                <div class="input-label-container"> 
                    <label class="label-text">¿Agendar próxima cita?:</label>
                    <div>
                        <div class="form-check-card">
                            <input type="radio" class="form-check-input" value="true" formControlName="next_control">
                            <label class="form-check-label">Si</label>
                        </div>
                        <div class="form-check-card">
                            <input type="radio" class="form-check-input" value="false" formControlName="next_control">
                            <label class="form-check-label">No</label>
                        </div>
                    </div>
                </div>
                <!-- Informacion de sgte control -->
                <div *ngIf="form.controls['next_control']?.value == 'true'">
                    <div class="input-label-container">
                        <label class="label-text">Nombre: </label>
                        <div class="input-name">
                            <div class="form-control">Pepito Pepon</div>
                        </div>
                    </div>
                    <!-- Lugar de consulta sgte. control -->
                    <div class="input-label-container"> 
                        <label class="label-text">Lugar de consulta:</label>
                        <div>
                            <select class="browser-default custom-select" formControlName="consultation_place2">
                                <option value="domicilio">Domicilio</option>
                                <option value="consulta">Consulta</option>
                                <option value="online">Online</option>
                            </select>
                        </div>
                    </div>
                    <!-- Via de seguimiento sgte. control -->
                    <div class="input-label-container"> 
                        <label class="label-text">Via de seguimiento:</label>
                        <div>
                            <select class="browser-default custom-select" formControlName="monitoring_medium2">
                                <option value="whatsapp">whatsapp</option>
                                <option value="teléfono">Teléfono</option>
                                <option value="en consulta">En consulta</option>
                                <option value="domicilio">Domicilio</option>
                            </select>
                        </div>
                    </div>
                    <!-- Fecha de sgte. control -->
                    <div class="input-label-container"> 
                        <label class="label-text">Fecha de Control:</label>
                        <div class="birth-container">
                            <input type="date" class="form-control" formControlName="date_control2">
                        </div>
                    </div>
                </div>
                <!-- Boton Agregar -->
                <div class="button-container">
                    <button type="submit" class="send-button" [disabled]="form.invalid">AGREGAR</button>
                    <div *ngIf="form.invalid" class="disabled-button-text">
                        <p>Porfavor rellene los campos del formulario, para que este pueda ser enviado</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
