.fondocartas{
    background: rgba(255, 255, 255, 0.33);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    width: 90vw;
    padding-block: 30px;

}
mdb-card{
    min-height: 50vh;
    width: 80%;
    margin: auto;
    border-radius: 30px;
    margin-block:10px;
}
mdb-card-body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
//Despues cambiar los url nomas pa dejar cualquier fondo
#card1{
    background: url("../../../../../assets/login-wallpaper.jpeg");
    background-size: 100%;
}
#card2{
    background: url("../../../../../assets/login-wallpaper.jpeg");
    background-size: 100%;
}
#card3{
    background: url("../../../../../assets/login-wallpaper.jpeg");
    background-size: 100%;
}
.content{
    min-height: 79.5vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
a{
    background-color: lightpink;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
