
<div class="topBar">
    <a href="#" mdbBtn color="" class="backButton" mdbWavesEffect>
        <i class="fas fa-long-arrow-alt-left"></i>
    </a>

    <div class="btn-group" mdbDropdown>
        <a mdbDropdownToggle type="button" mdbBtn color="primary" class="sortButton dropdown-toggle waves-light"
          mdbWavesEffect>
        </a>
      
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Editar Lactante</a>
          <a class="dropdown-item" (click)="show()">Eliminar Lactante</a>
        </div>


        <div class="childName" *ngIf="childData!=null" >
            <div class="childNameBg">
                <h3 >{{childData.name}}</h3>
            </div>
        </div>
    </div>

</div>


<div class="container-fluid">
    <div class="row">

        <div class="rectangle1">
            <app-lactancy-data></app-lactancy-data>
        </div>

    </div>

    <div class="row">

        <div class="rectangle2">
            <app-birth-data></app-birth-data>
        </div>

    </div>
</div>

<!--POP UP DE CONFIRMACION -->
<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Confirma la eliminación del lactante?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a (click)="eliminarLactante(childId)" mdbBtn color="danger" outline="true" class="waves-effect"
          mdbWavesEffect>Si</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
