<!--Form agendar cita-->
<div>
    <h3>Agendar Cita</h3>

    <!--Select Lactante-->
    <div> 
        <label>Nombre Lactante:</label>
        <select class="browser-default custom-select">
            <option value="ninguna">Ninguna</option>
            <option value="basica">Slash</option>
            <option value="media">Angus Young</option>
            <option value="tecnica">Van Halen</option>
        </select>
    </div>
    <!--Select Lactante-->
    <!--Select Lugar de consulta-->
    <div> 
        <label>Lugar de consulta:</label>
        <select class="browser-default custom-select">
            <option value="ninguna">Ninguna</option>
            <option value="basica">Slash</option>
            <option value="media">Angus Young</option>
            <option value="tecnica">Van Halen</option>
        </select>
    </div>
    <!--Select Lugar de consulta-->
    <!--Select Via seguimiento-->
    <div> 
        <label>Vía de seguimiento:</label>
        <select class="browser-default custom-select">
            <option value="ninguna">Ninguna</option>
            <option value="basica">Slash</option>
            <option value="media">Angus Young</option>
            <option value="tecnica">Van Halen</option>
        </select>
    </div>
    <!--Select Via seguimiento-->
    <!--Date Fecha-->
    <!--Date Fecha-->
</div>
<!--Form agendar cita-->
