<button mdbBtn color="primary" class="relative waves-light" (click)="modalpop.show()" mdbWavesEffect>Abrir</button>
<!--Form agendar cita-->
<div mdbModal #modalpop="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Agendar Cita</h3>

                <!--Select Lactante-->
                <div> 
                    <label>Nombre Lactante:</label>
                    <select class="browser-default custom-select">
                        <option value="ninguna">Ninguna</option>
                        <option value="basica">Slash</option>
                        <option value="media">Angus Young</option>
                        <option value="tecnica">Van Halen</option>
                    </select>
                </div>
                <!--Select Lactante-->
                <!--Select Lugar de consulta-->
                <div> 
                    <label>Lugar de consulta:</label>
                    <select class="browser-default custom-select">
                        <option value="ninguna">Ninguna</option>
                        <option value="basica">Slash</option>
                        <option value="media">Angus Young</option>
                        <option value="tecnica">Van Halen</option>
                    </select>
                </div>
                <!--Select Lugar de consulta-->
                <!--Select Via seguimiento-->
                <div> 
                    <label>Vía de seguimiento:</label>
                    <select class="browser-default custom-select">
                        <option value="ninguna">Ninguna</option>
                        <option value="basica">Slash</option>
                        <option value="media">Angus Young</option>
                        <option value="tecnica">Van Halen</option>
                    </select>
                </div>
                <!--Select Via seguimiento-->
                <!--Date Fecha-->
                <!--Date Fecha-->
            </div>
        </div>

    </div>
</div>
<!--Form agendar cita-->
